body {
    background-color: #043873;
    padding: 0;
    margin: 0;
}

header {
    margin-left: 120px;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 30px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: -30px;
    font-size: 15px;
    margin-bottom: 40px;
    margin-left: -37px;
}

.logo2 {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: -10px;
    font-size: 10px;
    margin-left: -20px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 490px;
    margin-top: -125px;
}

li {
    float: left;
    padding: 25px;
    margin-right: 10px;
}

.button {
    margin-top: -60px;
    margin-right: 50px;
}

.button-login {
    margin-left: 1118px;
    padding: 15px 24px;
    background-color: #FFE492;
    border: none;
    border-radius: 4px;
}

.button-try {
    margin-left: 28px;
    padding: 15px 45px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    gap: 5px;
}

.hero {
    padding: 10px;
    font-size: 20px;
    margin-top: 120px;
    margin-left: 68px;
    color: #fff;
    font-family: sans-serif;
}

.hero-card {
    margin-top: 110px;
    background-color: #C4DEFD;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 824px;
    height: 549px;
    margin-right: 88px;
}

.hero1 {
    background-image: url("bg-hero.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-try2 {
    margin-left: 2px;
    padding: 13px 24px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}

.content2 {
    margin-top: 210px;
    background-color: #fff;
    width: 100%;
}

.content-project {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("bg-2.svg");
    background-repeat: no-repeat;
    z-index: -1;
    background-position: left top 228px;
}

.Project-card {
    margin-top: 140px;
    background-color: #C4DEFD;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 708px;
    height: 380px;
    margin-right: 86px;
}

.line-project {
    background-image: url("inline-1.svg");
    background-position: left 10px top 125px;
    background-repeat: no-repeat;
    background-size: 500px;
}

.line-work-together {
    background-image: url("line-work-together.svg");
    background-position: left 180px top 50px;
    background-repeat: no-repeat;
    background-size: 350px;
}

.what-our-plan {
    background-image: url("inline-says.svg");
    background-position: left 1030px top 70px;
    background-repeat: no-repeat;
    background-size: 250px;
}

.sponsors-line {
    background-image: url("inline-sponsors.svg");
    background-position: left 765px top 45px;
    background-repeat: no-repeat;
    background-size: 350px;
}

.use-as-card {
    margin-top: 140px;
    background-color: #C4DEFD;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 685px;
    height: 479px;
    margin-right: 86px;
}

.line-use-as-extension {
    background-image: url("line-use-as-extension.svg");
    background-position: left 160px top 60px;
    background-repeat: no-repeat;
    background-size: 500px;
}

.line-plan {
    background-image: url("inline.svg");
    background-position: left 740px top 25px;
    background-repeat: no-repeat;
    background-size: 350px;
}

.inline6 {
    display: inline-block;
    background-image: url("inline.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: -200px;
    background-position: 50px bottom;
}

.inline7 {
    display: inline-block;
    background-image: url("inline.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    height: -200px;
    margin-left: 20px;
    background-position: center bottom;
}

.button-get {
    margin-left: -2px;
    padding: 15px 40px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
    margin-top: 50px;
}

.Work-together {
    padding: 10px;
    font-size: 20px;
    margin-top: 200px;
    margin-left: -65px;
    color: #fff;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.Work-together-card {
    margin-top: 100px;
    padding: 10px;
    width: 600px;
    height: 380px;
    margin-right: 120px;
    margin-bottom: 0px;
}

.Work-together-card,
.img {
    margin-top: 20px;
    width: 75%;
    height: 75%;
    margin-left: 70px;
}

.customise-card {
    margin-top: 90px;
    background-color: #C4DEFD;
    color: #000;
    padding: 10px;
    text-align: center;
    width: 714px;
    height: 532px;
    margin-left: 80px;
}

.customise {
    padding: 10px;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 70px;
    color: #fff;
    font-family: sans-serif;
}

.line-customise {
    background-image: url("line-customise.svg");
    background-position: left -1px top 90px;
    background-repeat: no-repeat;
    background-size: 700px;
}

.container-plan {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

.plan-card-1 {
    margin-top: 50px;
    border: 1px solid #FFE492;
    margin-left: 80px;
    width: 472px;
    height: 634px;
    border-radius: 10px;
}

.plan-card-2 {
    border: 1px solid #043873;
    background-color: #043873;
    color: #fff;
    margin-right: 0;
    width: 472px;
    height: 761px;
    border-radius: 10px;
}

.plan-card-3 {
    margin-top: 50px;
    border: 1px solid #FFE492;
    margin-right: 64px;
    width: 472px;
    height: 634px;
    border-radius: 10px;
}

.isi {
    padding: 20px;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
    font-family: sans-serif;
}

.button-get2 {
    margin-left: -2px;
    padding: 15px 40px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    border: 1px solid #FFE492;
}

.isi2 {
    padding: 20px;
    font-size: 18px;
    margin-top: 20px;
    color: #fff;
    font-family: sans-serif;
}

.content-your-work {
    background-image: url("bg-2.svg");
    background-repeat: no-repeat;
    padding: 0;
    z-index: -1;
    background-position: left;
}

.your-work-line {
    background-image: url("inline-2.svg");
    background-position: left 1090px top 50px;
    background-repeat: no-repeat;
    background-size: 330px;
}

.your-data {
    padding: 10px;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 73px;
    color: #fff;
    font-family: sans-serif;
    padding-right: 100px;
}

.your-data-card {
    margin-top: 90px;
    padding: 10px;
    width: 600px;
    height: 380px;
    margin-right: 0px;
    margin-bottom: 50px;
}

.your-data-card,
.img {
    width: 100%;
    height: 100%;
    margin-right: -10px;
    margin-left: -20px;
    margin-top: -80px;
}

.line-your-data {
    background-image: url("line-your-data.svg");
    background-position: left 200px top 40px;
    background-repeat: no-repeat;
    background-size: 380px;
}

.container-sponsors {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.sponsors-card {
    margin-top: 50px;
    margin-left: 85px;
    grid-column: span 1;
    margin-bottom: 60px;
}

.work-with {
    padding: 10px;
    margin-top: 10px;
    margin-left: 125px;
    color: #fff;
    font-family: sans-serif;
    padding-right: 80px;
}

.work-with-card {
    margin-top: 90px;
    padding: 10px;
    width: 600px;
    height: 380px;
    margin-right: 0px;
    margin-bottom: 50px;
}

.work-with-card,
.img {
    margin-top: 10px;
    width: 90%;
    height: 90%;
    margin-right: 0px;
    margin-left: 70px;
    margin-top: 50px;
}

.container-what-our {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

.what-our-card-1 {
    margin-top: 50px;
    box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
    margin-left: 80px;
    width: 471px;
    height: 498px;
    border-radius: 10px;
}

.line {
    border-bottom: 1px solid #043873;
    width: 90%;
    margin-left: 20px;
}

.line-our-2 {
    border-bottom: 1px solid white;
    width: 90%;
    margin-left: 20px;
}

.what-our-dot {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.profile {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    gap: 5px;
}

.profile img {
    margin-top: 25px;
}

.what-our-card-2 {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 100px;
    width: 471px;
    height: 498px;
    border-radius: 10px;
    background-color: #4F9CF9;
}

.what-our-card-3 {
    margin-top: 50px;
    margin-left: -73px;
    margin-right: 400px;
    width: 471px;
    height: 498px;
    border-radius: 10px;
    background-color: #4F9CF9;
}

.button-try-taskey {
    margin-left: 45%;
    padding: 15px 24px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container-contant-sales {
    margin-top: 100px;
    margin-left: 10%;
    padding-bottom: 80px;
}

.contant-sales-card {
    margin-left: 140px;
    gap: -20;
}

.container-footer {
    display: grid;
    grid-template-columns: 35% 20% 20% 20% 30%;
    gap: 10px;
    color: white;
    max-width: 1200px;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: sans-serif;
}

.footer-card {
    padding: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.footer-card-2 {
    padding: 0px;
    margin-left: 10px;
    margin-right: 100px;
}

.footer-card-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    margin-top: 5px;
    color: white;
}

.footer-card-2 li {
    float: none;
    margin-top: 20px;
    padding: 0px;
    margin-right: 10px;
}

.footer-card-6 {
    padding: 0px;
    margin-left: 10px;
    margin-right: 90px;
}

.button-start-today {
    margin-left: 10px;
    padding: 15px 50px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
}

.last-footer {
    padding: 30px;
}

.line-2 {
    border-bottom: 1px solid #2E4E73;
    margin-left: 70px;
    width: 1468px;
}

.last-footer-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 450px;
    margin-top: -80px;
}

.last-footer-1 li {
    float: left;
    padding: 30px;
    margin-right: 10px;
}

.last-footer-1 {
    padding: 10px;
    margin-left: -350px;
    color: white;
    margin-top: 25px;
    font-family: sans-serif;
}

.last-footer-2 {
    padding: 10px;
    margin-left: -350px;
    color: white;
    margin-top: 10px;
}

.last-footer-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 1550px;
    margin-top: -110px;
    padding-bottom: 50px;
}

.last-footer-2 li {
    float: flex;
    padding: 30px;
    margin-right: 20px;
}

@media (max-width: 1480px) {

    .container {
        padding: 0 20px;
    }

    .hero {
        font-size: 40px;
    }

    .logo {
        margin-left: -95px
    }

    ul {
        margin-left: 490px;
    }

    .button {
        margin-right: 50px;
    }

    .button-login {
        margin-left: 1080px;
    }

    .button-try {
        margin-left: 10px;
        margin-right: -200px;
    }

    .hero1,
    .img {
        width: 106.5%;
    }

    .hero {
        margin-left: 18px;
    }

    .hero-card {
        margin-right: 30px;
    }

    .content2 {
        width: 106.5%;
    }

    .Project-card {
        margin-right: 35px;
    }

    .Work-together-card,
    .img {
        margin-left: 20px;
    }

    .use-as-card {
        margin-right: -60px;
    }

    .customise-card {
        margin-left: 28px;
    }

    .plan-card-1 {
        margin-left: 30px;
    }

    .plan-card-2 {
        margin-left: 5px;
    }

    .plan-card-3 {
        margin-right: 20px;
    }

    .your-work-line {
        background-position: left 1000px top 50px;
    }

    .your-data {
        margin-left: 19px;
    }

    .your-data-card,
    .img {
        margin-right: -54px;
    }

    .sponsors-card {
        margin-left: 33px;
    }

    .sponsors-line {
        background-position: left 700px top 45px;
    }

    .work-with-card {
        margin-right: -20px;
    }

    .work-with-card,
    .img {
        margin-left: 20px;
    }

    .what-our-plan {
        background-position: left 970px top 80px;
    }

    .what-our-card-1 {
        margin-left: 30px;
    }

    .try-whitepace-today {
        margin-left: 50px;
    }

    .container-contant-sales {
        margin-left: 3.5%;
    }

    .container-footer {
        margin-left: -50px;
        grid-template-columns: 35% 25% 25% 15% 30%;
    }

    .footer-card-2 {
        margin-left: -20px;
    }

    .footer-card-3 {
        margin-left: -20px;
    }

    .line-2 {
        margin-left: 0;
    }

    .last-footer-2 {
        margin-left: -10px;
    }

    .last-footer-2 ul {
        margin-left: 100px;
    }

    .last-footer-2 li {
        margin-right: 20px;
    }
}

@media (max-width: 1152px) {

    .container {
    display: grid;
    grid-template-columns: auto auto;
    }

    .content2 {
    margin-top: 210px;
    background-color: #fff;
    width: 1152px;
    }

    .hero-card {
        width: 685px;
        height: 456px;
    }

    ul {
        margin-left: 150px;
    }

    .button {
        margin-right: 50px;
    }

    .button-login {
        margin-left: 730px;
    }

    .button-try {
        margin-left: 10px;
        margin-right: -200px;
    }

    .Project-card {
        width: 719px;
        height: 448px;
    }

    .use-as-card {
        width: 685px;
        height: 479px;
    }

    .customise-card {
        width: 670px;
        height: 499px;
    }

    .plan-card-1 {
        width: 370px;
        height: 654px;
    }

    .plan-card-2 {
        width: 370px;
        height: 761px;
    }

    .plan-card-3 {
        width: 370px;
        height: 654px;
    }

    .sponsors-card {
        margin-left: 75px;
    }

    .what-our-card-1 {
        width: 370px;
        height: 498px;
    }

    .what-our-card-2 {
        width: 370px;
        height: 498px;
    }

    .what-our-card-3 {
        width: 370px;
        height: 498px;
    }

    .container-contant-sales {
        margin-left: 3%;
    }

    .container-footer {
        margin-left: -50px;
        grid-template-columns: 30% 25% 25% 15% 30%;
    }

    .footer-card-2 {
        margin-left: -70px;
    }

    .footer-card-3 {
        margin-left: -100px;
    }

    .line-2 {
        margin-left: 0;
        width: 1150px;
    }

    .last-footer-2 {
        margin-left: -10px;
    }

    .last-footer-2 ul {
        margin-left: 100px;
    }

    .last-footer-2 li {
        margin-right: 20px;
    }
}