body {
    background-color: #043873;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1480px;
    margin: auto;
    color: white;
    padding: 1px 0;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: sans-serif;
}

.logo h1 {
    font-size: 30px;
    padding: 0 10px;
}

nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.button {
    display: flex;
    gap: 16px;
}

.button-login {
    padding: 20px 48px;
    background: #FFE492;
    border: none;
    border-radius: 8px;
}

.button-try {
    padding: 20px 60px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
}

nav .menu-icon {
    display: none;
    font-size: 38px;
}

.content-1 {
    overflow: hidden;
}

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}

h1 {
    font-size: 72px;
}

p {
    font-size: 18px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    gap: 10px;
}

.hero-card {
    background-image: url(gambar-1.jpg);
    background-color: #C4DEFD;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 715px;
    height: 500px;
}

.hero p {
    margin-top: -10px;
}

.hero1 {
    width: 100%;
    background-image: url("bg-hero.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-try2 {
    margin-left: 2px;
    padding: 13px 24px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}

.content2 {
    background-color: #fff;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
}

.content-project {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("bg-2.svg");
    background-repeat: no-repeat;
    z-index: -1;
    background-position: left top 228px;
}

.Project-card {
    background-image: url(gambar-2.png);
    background-color: #C4DEFD;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 715px;
    height: 500px;
    gap: 30px;
}

.line-project {
    background-image: url("inline-1.svg");
    background-position: left -5px top 180px;
    background-repeat: no-repeat;
    background-size: 480px;
}

.line-work-together {
    background-image: url("line-work-together.svg");
    background-position: left 190px top 95px;
    background-repeat: no-repeat;
    background-size: 350px;
}

.what-our-plan {
    background-image: url("inline-says.svg");
    background-position: left 1150px top 80px;
    background-repeat: no-repeat;
    background-size: 250px;
}

.sponsors-line {
    background-image: url("inline-sponsors.svg");
    background-position: left 880px top 50px;
    background-repeat: no-repeat;
    background-size: 330px;
}

.use-as-card {
    background-image: url(gambar-3.avif);
    background-color: #C4DEFD;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 715px;
    height: 500px;
}

.line-use-as-extension {
    background-image: url("line-use-as-extension.svg");
    background-position: left 160px top 108px;
    background-repeat: no-repeat;
    background-size: 500px;
}

.line-plan {
    background-image: url("line-your-plan.svg");
    background-position: left 940px top 50px;
    background-repeat: no-repeat;
    background-size: 350px;
}

.button-get {
    margin-left: -2px;
    padding: 15px 40px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.Work-together {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
}

.Work-together-card {
    padding: 10px;
    max-width: 715px;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}

.Work-together-card,
.img {
    width: 100%;
    height: 75%;
}

.Work-together p {
    margin-top: -30px;
}

.customise-card {
    background-image: url(gambar-4.webp);
    background-color: #C4DEFD;
    color: #000;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 715px;
    height: 500px;
}

.customise {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
}

.line-customise {
    background-image: url("line-customise.svg");
    background-position: left 0px top 150px;
    background-repeat: no-repeat;
    background-size: 600px;
}

.container-plan {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.line-plan h1 {
    text-align: center;
    font-size: 72px;
}

.plan-card-1 {
    border: 1px solid #FFE492;
    width: 472px;
    height: 634px;
    border-radius: 10px;
}

.plan-card-2 {
    border: 1px solid #043873;
    background-color: #043873;
    color: #fff;
    width: 472px;
    height: 761px;
    border-radius: 10px;
}

.plan-card-3 {
    border: 1px solid #FFE492;
    width: 472px;
    height: 634px;
    border-radius: 10px;
}

.isi {
    padding: 40px;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
    font-family: sans-serif;
}

.isi h2 {
    font-size: 24px;
}

.isi h1 {
    font-size: 36px;
}

.button-get2 {
    margin-left: -2px;
    padding: 15px 40px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    border: 1px solid #FFE492;
}

.isi2 {
    padding: 40px;
    font-size: 18px;
    margin-top: 20px;
    color: #fff;
    font-family: sans-serif;
}

.isi2 h2 {
    font-size: 24px;
}

.isi2 h1 {
    font-size: 36px;
}

.content-your-work {
    text-align: center;
}

.bg-your-work {
    background-image: url("bg-2.svg");
    background-repeat: no-repeat;
    padding: 100px;
    z-index: -1;
    background-position: left;
}

.your-work-line {
    background-image: url("inline-2.svg");
    background-position: left 1100px top 55px;
    background-repeat: no-repeat;
    background-size: 330px;
}

.your-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;
    margin-left: -73px;
    gap: 30px;
}

.your-data-card {
    width: 100%;
    max-width: 715px;
    height: 500px;
}

.your-data-card,
.img {
    max-width: 715px;
    width: 99%;
    height: 100%;
}

.line-your-data {
    background-image: url("line-your-data.svg");
    background-position: left 200px top 100px;
    background-repeat: no-repeat;
    background-size: 380px;
}

.container-sponsors {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 200px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.work-with {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
}

.work-with-card {
    max-width: 715px;
    width: 100%;
    height: 500px;
}

.work-with-card,
.img {
    width: 100%;
    height: 90%;
}

.container-what-our {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.what-our-card-1 {
    box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
    width: 471px;
    height: 498px;
    border-radius: 10px;
}

.line {
    border-bottom: 1px solid #043873;
    width: 100%;
}

.line-our-2 {
    border-bottom: 1px solid white;
    width: 100%;
}

.what-our-dot {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.profile {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    gap: 5px;
}

.profile img {
    margin-top: 25px;
}

.what-our-card-2 {
    width: 471px;
    height: 498px;
    border-radius: 10px;
    background-color: #4F9CF9;
}

.what-our-card-2 p {
    color: #fff;
}

.what-our-card-3 {
    width: 471px;
    height: 498px;
    border-radius: 10px;
    background-color: #4F9CF9;
}

.isi-what-our-card {
    padding: 40px;
    font-size: 18px;
    margin-top: 10px;
    color: #000;
    font-family: sans-serif;
}

.button-try-taskey {
    padding: 15px 24px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.try-whitepace-today {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-contant-sales ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-footer {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    color: white;
    font-family: sans-serif;
    padding-top: 80px;
    padding-bottom: 80px;
}

.logo2 h2 {
    font-size: 20px;
}

.footer-card {
    padding: 0px;
}

.footer-card-2 {
    padding: 0px;
}

.footer-card-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    color: white;
}

.footer-card-2 li {
    margin-top: 20px;
    padding: 0px;
}

.footer-card-3 {
    padding: 0px;
}

.button-start-today {
    padding: 15px 50px;
    color: white;
    background-color: #4F9CF9;
    border: none;
    border-radius: 4px;
}

.line-2 {
    border-bottom: 1px solid #2E4E73;
    width: 1440px;
    max-width: 1890px;
    align-items: center;
    margin: 0 auto;
}

.logo2 {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: -10px;
    margin-left: -20px;
}

.last-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1480px;
    margin: auto;
    gap: 10px;
}

.last-footer-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.last-footer-1 li {
    float: left;
    padding: 30px;
}

.last-footer-1 {
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}

.last-footer-2 {
    display: flex;
    align-items: center;
    color: white;
}

.last-footer-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.last-footer-2 li {
    float: flex;
    padding: 30px;
}

@media screen and (max-width: 1440px) {

    .line-plan {
        background-position: left 700px top 50px;
    }

    .your-work-line {
        background-position: left 870px top 55px;
    }

    .sponsors-line {
        background-position: left 650px top 50px;
    }

    .what-our-plan {
        background-position: left 900px top 80px;
    }


    .wrapper {
        width: 100%;
        max-width: 1440px;
        overflow: hidden;
    }

    .logo {
        padding: 10px 33px;
    }

    nav {
        gap: 70px;
    }

    .button-try {
        margin-right: 33px;
    }

    .content-1 {
        overflow: hidden;
    }

    .content2 {
        overflow: hidden;
    }

    .container {
        max-width: 1376px;
        width: 100%;
        margin: 0 auto;
        gap: 30px;
        padding: 50px 30px;
    }

    .hero1 {
        width: 100%;
        max-width: 1440px;
        background-image: url("bg-hero.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content2 {
        width: 100%;
        padding-bottom: 100px;
    }

    .container-plan {
        width: 100%;
        max-width: 1376px;
        gap: 30px;
    }

    .plan-card-1,
    .plan-card-3 {
        width: 437px;
        height: 600px;
    }

    .plan-card-2 {
        width: 437px;
        height: 650px;
    }

    .your-data {
        margin-left: -30px;
    }

    .your-data-card,
    .img {
        width: 100%;
        margin-right: -70px;
    }

    .container-sponsors {
        width: 100%;
        max-width: 1376px;
        margin: 0 auto;
        gap: 170px;
    }

    .container-what-our {
        width: 100%;
        max-width: 1376px;
        margin: 0 auto;
        gap: 30px;
    }

    .what-our-card-1,
    .what-our-card-2,
    .what-our-card-3 {
        width: 438px;
        height: 450px;
    }

    .container-footer {
        max-width: 1376x;
        width: 100%;
        gap: 20px;
        margin-left: 6px;
    }

    .footer-card-3 {
        margin-left: -20px;
    }

    .last-footer {
        max-width: 1376px;
    }

    .line-2 {
        width: 1400px;
        margin-left: 10px;
    }

    .logo2 {
        padding: 13px 36px;
    }

    .footer-card p {
        padding: 0 26px;
    }

    .last-footer-1 ul {
        padding: 0;
    }
}

@media screen and (max-width: 1152px) {

    .line-project {
        background-position: left -5px top 150px;
    }

    .line-use-as-extension {
        background-position: left -80px top 130px;
        background-repeat: no-repeat;
        background-size: 470px;
    }

    .line-plan {
        background-position: left 560px top 50px;
    }

    .your-work-line {
        background-position: left 390px top 140px;
    }

    .sponsors-line {
        background-position: left 490px top 50px;
    }

    .what-our-plan {
        background-position: left 700px top 80px;
        background-size: 210px;
    }

    .content-1 {
        overflow: auto;
    }

    .wrapper {
        width: 100%;
        max-width: 1152px;
    }

    header {
        width: 100%;
        max-width: 1088px;
    }

    .logo img {
        width: 15%;
        padding-right: 10px;
    }

    .logo h1 {
        font-size: 20px;
    }

    .logo {
        padding: 20px 0px;
    }

    nav ul {
        display: none;
    }

    nav .menu-icon {
        display: block;
        padding-right: 5px;
    }

    .button-login {
        padding: 15px 24px;
    }

    .button-try {
        padding: 15px 30px;
    }

    .container {
        max-width: 1088px;
        width: 100%;
        gap: 20px;
        padding: 30px 20px;
    }

    .hero h1 {
        font-size: 64px;
    }

    .hero-card,
    .Project-card,
    .use-as-card {
        width: 520px;
        height: 380px;
        margin-right: -10px;
    }

    .customise-card {

        width: 520px;
        height: 380px;
        margin-left: 0px;
    }

    .hero1 {
        width: 100%;
        max-width: 1152px;
    }

    .Work-together-card {
        padding: 10px 0px;
        max-width: 650px;
        width: 100%;
        height: 500px;
    }

    .Work-together-card,
    img {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .customise {
        gap: 0px;
    }

    .hero1 {
        width: 1152px;
        background-image: url("bg-hero.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content2 {
        width: 100%;
        max-width: 1152px;
    }

    .container-plan {
        width: 100%;
        max-width: 1088px;
        gap: 30px;
    }

    .plan-card-1,
    .plan-card-3 {
        width: 341px;
        height: 650px;
    }

    .plan-card-2 {
        width: 341px;
        height: 700px;
    }

    .content-your-work {
        max-width: 900px;
        text-align: left;
        display: flex;
        margin-left: -70px;
    }

    .bg-your-work {
        background-repeat: no-repeat;
        padding: 100px;
        z-index: -1;
        background-position: left;
    }

    .your-data {
        margin-left: 3px;
    }

    .your-data-card .img {
        width: 78%;
    }

    .container-sponsors {
        width: 100%;
        max-width: 1088px;
        padding: 10px 10px;
        gap: 65px;
    }

    .container-what-our {
        width: 100%;
        max-width: 1088px;
        margin: 0 auto;
        gap: 30px;
    }

    .what-our-card-1,
    .what-our-card-2,
    .what-our-card-3 {
        width: 342px;
        height: 450px;
    }

    .container-footer {
        max-width: 1088px;
        width: 100%;
        gap: 10px;
        padding: 30px 30px;
    }

    .line-2 {
        width: 1000px;
        margin-left: 40px;
    }

    .logo2 {
        padding: 20px 60px;
        margin-left: -50px;
        margin-top: -20px;
    }

    .logo2 h2 {
        margin-bottom: 5px;
    }

    .footer-card {
        margin-left: -20px;
    }

    .line-2 {
        width: 1080px;
        max-width: 1100px;
        align-items: center;
        margin: 0 auto;
    }

    .footer-card p {
        margin-top: 5px;
    }

    .last-footer {
        max-width: 1088px;
        gap: 0px;
    }

    .last-footer-1 li {
        font-size: 16px;
        padding: 8px;
    }

    .last-footer-2 li {
        font-size: 16px;
        padding: 0;
    }

    .last-footer-2 li,
    .img {
        width: 10%;
        height: 10%;
    }

}

@media screen and (max-width: 768px) {

    .line-project {
        background-position: left -5px top 150px;
    }

    .line-work-together {
        background-image: url("line-work-together.svg");
        background-position: left 140px top 75px;
        background-repeat: no-repeat;
        background-size: 250px;
    }

    .line-use-as-extension {
        background-image: url("line-use-as2.svg");
        background-position: left 320px top 90px;
        background-repeat: no-repeat;
        background-size: 390px;
        padding: 0 30px;
    }

    .line-customise {
        background-image: url("line-use-as2.svg");
        background-position: left 505px top 80px;
        background-repeat: no-repeat;
        background-size: 300px;
        padding: 0 10px;
    }

    .line-plan {
        background-position: left 370px top 35px;
        background-size: 290px;
    }

    .your-work-line {
        background-image: url(line-biru-768.svg);
        background-position: left -1px top 180px;
        background-size: 250px;
        padding: 10px 0;
    }

    .line-your-data {
        background-position: left 150px top 70px;
        background-repeat: no-repeat;
        background-size: 280px;
        padding: 0 10px;
    }

    .sponsors-line {
        background-position: left 300px top 30px;
        background-size: 300px;
    }

    .what-our-plan {
        background-position: left 500px top 80px;
        background-size: 210px;
    }

    .wrapper {
        width: 100%;
        max-width: 768px;
        overflow: hidden;
    }

    header {
        width: 100%;
        max-width: 728px;
    }

    .button {
        display: none;
    }

    nav .menu-icon {
        display: block;
    }

    .logo h1 {
        font-size: 28px;
    }

    .content-1 {
        overflow: hidden;
    }

    .content2 {
        overflow: hidden;
        width: 100%;
        max-width: 768px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 728px;
        padding: 40px 20px;
        margin: 0 auto;
        gap: 40px;
        justify-items: center;
        align-items: center;
    }

    .hero,
    .Work-together,
    .customise,
    .your-data,
    .work-with {
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .hero-card,
    .Project-card,
    .use-as-card,
    .customise-card {
        margin-left: -10px;
        width: 100%;
        max-width: 530px;
        height: 367px;
    }

    h1 {
        font-size: 54px;
    }

    .line-plan h1 {
        font-size: 54px;
    }

    .sponsors-line h1 {
        font-size: 54px;
    }

    .hero1 {
        width: 100%;
        max-width: 100%;
        min-height: 900px;
        background-image: url("bg-hero.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .bg-your-work {
        background-repeat: no-repeat;
        padding: 100px;
        z-index: -1;
        background-position: left;
    }

    .container .Work-together-card {
        display: flex;
        order: 2;
        margin-bottom: -50px;
    }

    .container .Work-together {
        display: flex;
        order: 1;
    }

    .container-plan {
        width: 100%;
        max-width: 728px;
        gap: 60x;
    }

    .plan-card-1 {
        width: 472px;
        height: 634x;
        margin-left: -380px;
    }

    .plan-card-2 {
        width: 472px;
        height: 700px;
    }

    .plan-card-3 {
        margin-left: 7px;
        width: 472px;
        height: 634x;
    }

    .your-data {
        margin-bottom: 180px;
        order: 2;
    }

    .your-data-card {
        max-width: 715px;
        height: 400px;
        order: 1;
        align-items: center;
        margin-bottom: 150px;
        margin-left: 140px;
    }

    .your-data-card,
    .img {
        max-width: 715px;
        margin-top: -250px;
    }

    .container-sponsors {
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 728px;
        padding: 10px 0px;
        gap: 100px;
    }

    .work-with-card,
    .img {
        width: 100%;
        height: 90%;
        margin-left: 29%;
    }

    .container-what-our {
        width: 100%;
        max-width: 728px;
        gap: 60x;
    }

    .what-our-card-1 {
        width: 341px;
        height: 450px;
        margin-left: -177px;
        background-color: #4F9CF9;
    }

    .what-our-card-1 p {
        color: #fff;
    }

    .what-our-card-1 h3 {
        color: #043873;
    }

    .line {
        border-bottom: 1px solid white;
        width: 100%;
    }

    .what-our-card-3 .line-our-2 {
        border-bottom: 1px solid white;
        width: 100%;
    }

    .line-our-2 {
        border-bottom: 1px solid #043873;
        width: 100%;
    }

    .what-our-card-2 {
        box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        width: 341px;
        height: 450px;
    }

    .what-our-card-2 p {
        color: #000;
    }

    .what-our-card-3 {
        width: 341px;
        height: 450px;
    }

    .isi-what-our-card {
        padding: 40px;
        font-size: 18px;
        margin-top: -20px;
        color: #000;
        font-family: sans-serif;
    }

    .Work-together-card img {
        width: 100%;
        max-width: 500px;
    }

    .try-whitepace-today {
        max-width: 728px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: left;
        padding: 0 20px;
    }

    .container-footer {
        grid-template-columns: 1fr;
        gap: 100px;
        margin-bottom: 70px;
        margin-left: 10px;
    }

    .footer-card {
        margin-right: 800px;
        margin-left: -40px;
    }

    .footer-card-2 {
        margin-left: -20px;
    }

    .footer-card-3 p {
        margin-right: 80%;
    }

    .logo2 h2 {
        margin-top: 18px;
        font-size: 51px;
    }

    .logo2 {
        width: 59%;
    }

    .line-2 {
        width: 720px;
    }

    .last-footer {
        width: 100%;
        max-width: 728px;
        gap: 12px;
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
    }

    .last-footer-1 {
        margin-top: -50px;
    }

    .last-footer-2 {
        margin-right: 600px;
    }
}

@media screen and (max-width: 320px) {

    .line-project {
        background-position: left -2px top 90px;
        background-size: 240px;
    }

    .line-work-together {
        background-image: url("line-work-together.svg");
        background-position: left 90px top 40px;
        background-repeat: no-repeat;
        background-size: 190px;
    }

    .line-use-as-extension {
        background-image: url("line-use-as2.svg");
        background-position: left 100px top 90px;
        background-repeat: no-repeat;
        background-size: 200px;
        padding: 0 30px;
    }

    .line-customise {
        background-image: url("line-use-as2.svg");
        background-position: left 130px top 90px;
        background-repeat: no-repeat;
        background-size: 200px;
        padding: 0 10px;
    }

    .line-plan {
        background-position: left 105px top 100px;
        background-size: 120px;
    }

    .your-work-line {
        background-image: url(line-biru-768.svg);
        background-position: left 3px top 180px;
        background-size: 260px;
        padding: 10px 30px;
    }

    .line-your-data {
        background-position: left 100px top 50px;
        background-repeat: no-repeat;
        background-size: 190px;
        padding: 0 10px;
    }

    .sponsors-line {
        background-position: left 300px top 30px;
        background-size: 300px;
    }

    .what-our-plan {
        background-position: left 30px top 110px;
        background-size: 180px;
    }

    .wrapper {
        width: 100%;
        max-width: 320px;
        overflow: hidden;
    }

    header {
        width: 100%;
        max-width: 288px;
        padding: 0 20px;
    }

    .button {
        display: none;
    }

    nav .menu-icon {
        display: block;
        margin-right: 0px;
    }

    .logo h1 {
        font-size: 28px;
    }

    .content-1 {
        overflow: none;
    }

    .content2 {
        overflow: none;
        width: 100%;
        max-width: 328px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 288px;
        padding: 40px 20px;
        margin: 0 auto;
        gap: 60px;
        justify-items: center;
        align-items: center;
    }

    .hero,
    .Work-together,
    .customise,
    .your-data,
    .work-with {
        align-items: center;
        text-align: center;
        margin: 0;
        gap: 30px;
    }

    .hero-card,
    .Project-card,
    .use-as-card,
    .customise-card {
        width: 100%;
        margin-left: -18px;
        max-width: 266px;
        height: 191px;
        margin-top: 50px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .line-plan h1 {
        font-size: 54px;
    }

    .sponsors-line h1 {
        font-size: 54px;
    }

    .hero1 {
        width: 100%;
        max-width: 100%;
        min-height: 813px;
        background-image: url("bg-hero.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .bg-your-work {
        background-repeat: no-repeat;
        padding: 100px;
        z-index: -1;
        background-position: left;
    }

    .container .Work-together-card {
        display: flex;
        order: 2;
        margin-bottom: -50px;
    }

    .container .Work-together {
        display: flex;
        order: 1;
    }

    .line-plan h1 {
        font-size: 36px;
        padding: 30px 20px;
    }

    p {
        padding: 0px 20px;
    }

    .container-plan {
        width: 100%;
        max-width: 288px;
        gap: 60x;
    }

    .plan-card-1 {
        display: none;
    }

    .plan-card-2 {
        width: 288px;
        height: 800px;
    }

    .plan-card-3 {
        display: none;
    }

    .bg-your-work {
        margin-left: -18px;
    }

    .bg-your-work p {
        padding: 10px 5px;
    }

    .bg-your-work h1 {
        margin-left: -50px;
        padding: 10px 25px;
    }

    .bg-your-work {
        background-image: none;
        background-repeat: no-repeat;
        padding: 100px;
        z-index: -1;
        background-position: left;
    }

    .bg-your-work .button-try2 {
        margin-left: 5px;
    }

    .your-data {
        margin-bottom: 180px;
        order: 2;
    }

    h1 {
        font-size: 36px;
    }

    .your-data h1 {
        font-size: 36px;
    }

    .your-data-card {
        margin-left: -80px;
        margin-bottom: 100px;
    }

    .your-data-card,
    .img {
        max-width: 715px;
        margin-top: -250px;
    }

    .container-sponsors {
        width: 100%;
        max-width: 288px;
        padding: 10px 0px;
        gap: 100px;
    }

    .sponsors-line h1 {
        font-size: 36px;
    }

    .work-with-card,
    .img {
        margin-right: 91px;
        width: 100%;
        height: 90%;
    }

    .container-what-our {
        width: 100%;
        max-width: 288px;
        gap: 60x;
    }

    .what-our-card-1 {
        box-shadow: none;
        box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
        width: 288px;
        height: 458px;
        margin-left: 1px;
        background-color: #fff;
    }

    .what-our-card-1 p {
        color: #000;
    }

    .isi-what-our-card {
        padding: 10px;
        font-size: 18px;
        margin-top: -20px;
        color: #000;
        font-family: sans-serif;
    }

    .line {
        border-bottom: 1px solid #043873;
        width: 100%;
    }

    .profile {
        grid-template-columns: auto;
        padding: 0px;
        gap: 2px;
    }

    .what-our-card-2,
    .what-our-card-3 {
        display: none;
    }

    .what-our-plan h1 {
        margin-top: 50px;
        margin-bottom: -10px;
        font-size: 40px;
    }

    .Work-together-card img {
        width: 100%;
        max-width: 500px;
    }

    .try-whitepace-today {
        width: 100%;
        max-width: 288px;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        padding-bottom: 100px;
    }

    .try-whitepace-today p {
        padding: 10px 0px;
    }

    .container-contant-sales ul {
        justify-content: flex-start;
        gap: 25px;
    }

    .container-contant-sales ul li img {
        width: 35px;
    }

    .container-footer {
        gap: 100px;
        margin-bottom: 70px;
        max-width: 288px;
        width: 100%;
        justify-content: center;
    }

    .footer-card {
        margin-right: -5px;
        padding: 15px 30px;
    }

    .footer-card,
    .footer-card-2,
    .footer-card-3 {
        text-align: center;
        margin-left: -50px;
    }

    .footer-card-3 p {
        margin-right: 0;
        padding: 30px 90px;
    }

    .logo2 {
        margin-left: -18px;
    }

    .logo2 h2 {
        font-size: 160%;
    }

    .line-2 {
        width: 300px;
        order: 3;
        margin-top: 200px;
    }

    .last-footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 288px;
        margin: auto;
        gap: 0px;
        margin-left: 10px;
        padding: 0;
    }

    .last-footer-1 {
        margin-top: -200px;
        order: 1;
    }

    .last-footer-1 ul {
        display: block;
        margin: 0;
        padding: 0;
    }

    .last-footer-1 li {
        width: 100%;
        text-align: center;
    }

    .last-footer-2 {
        display: block;
        margin-top: 40px;
        align-items: center;
        color: white;
        margin-left: 610px;
        overflow: visible;
        order: 2;
        margin-bottom: 50px;
    }

    .last-footer-2 li,
    .img {
        width: 10px;
        height: 10px;
    }

    .last-footer-2 li h3 {
        margin-top: -2px;
    }


}